@import '../node_modules/materialize-css/sass/materialize';

.logo {
  .logo__img {
    height: 80vh;
    width: 50vw;
  }
}

.text {
  @extend .valign-wrapper;
  @extend .center-align;

  .text__say-hello {
    width: 100%;
    color: $primary-color;
    font-size: xx-large;
    font-weight: bold;
  }
}
